*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo{
    width: 100%;
}
.conteudo .banner{
    width: 100%;
}

.conteudo .img{
    position: absolute;
    top: -2px;
}

.conteudo .img .logo{
    max-width: 200px;
    width: auto;
    z-index: 1;
    top: -40px;
}
.subtitulo{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    bottom: 60px;
    left: 50%;
}


.media-social{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
}

header a{
    font-size: 30px;
}

@media (max-width: 900px){

    .subtitulo{
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        bottom: 10px;
        left: 50%;
    }

    .media-social{
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        bottom: 0;
        left: 50%;
    }

    header h3{
        font-size: 15px;
    }

    header a{
        font-size: 10px;
    }

    footer{
        font-size: 15px;
    }
}